<div class="row my-5">
  <div class="col-md-4 mr-4">
    <img src="{{ product.image ? product.image : '/assets/placeholder.png' }}" alt="{{ product.name }}" class="w-100" />
  </div>
  <div class="col">
    <h1 class="display-5">{{ product.name }}</h1>
    <div class="price mb-3">
      <span class="badge bg-danger">{{ product.price }} zł</span>
    </div>
    <div class="lead description mb-3">
      {{ product.description }}
    </div>
    <div class="weight mb-3">
      Waga: {{ product.weight }} g
    </div>
    <div class="variants" *ngIf="product.variants.length > 0">
      <select class="form-select">
        <option selected>Wersja podstawowa ({{ product.price }} zł)</option>
        <option *ngFor="let variant of product.variants">{{ variant.name }} ({{ variant.price }} zł)</option>
      </select>
    </div>
  </div>
</div>
